<div class="form-row border-bottom mb-1">

    <div class="form-group col-md-2  ">

        <h3>
            Cartelera
            <i class="fas fa-film"></i>

        </h3>
    </div>
    <div class="form-group col-md-2 ml-auto">
        <select class="form-control ml-auto" id="orderBy" (change)="orderBy($event.target.value)">
            <option value="null" disabled >Ordenar por</option>
            <option value="title">Titulo</option>
            <option value="release_date">Año de publicacion</option>
            <option value="vote_average" selected>Calificación</option>
           </select>
    </div>
</div>

<h5 class="animated fadeIn" *ngIf="favoriteMovies['total_results'] > 0 && flag">
    Favoritos
    <i class="fas  fa-heart text-danger"></i>
</h5>

<div class="row" *ngIf="favoriteMovies['total_results'] > 0">
    <div *ngFor="let movies of favoriteMovies['results'] | orderby: field" class="col-md-3">
        <div class="card mb-2 border-danger">
            <img class="card-img-top puntero" (click)="setMovie(movies,favorite(movies.id))" [src]="poster+movies.backdrop_path" alt="Card image cap" data-toggle="modal" data-target="#modalDetail">
            <div class="card-body pb-0 pl-2">
                <h6 class="card-title">
                    <span (click)="markAsFavorite(movies.id,false)" title="favorito">
                        <i  class="fas t fa-heart text-danger puntero"></i>
                    </span> {{ movies.title }}
                </h6>
            </div>
        </div>
    </div>
</div>


<h5 class="animated fadeIn" *ngIf="flag">
    Estrenos
    <i class="fas  fa-play text-danger"></i>
</h5>

<div class="row">
    <div *ngFor="let movies of moviesBillboard['results'] | orderby: field" class="col-md-3">
        <div class="card mb-2">
            <img class="card-img-top puntero" (click)="setMovie(movies,favorite(movies.id))" [src]="poster+movies.backdrop_path" alt="Card image cap" data-toggle="modal" data-target="#modalDetail">
            <div class="card-body pb-0 pl-2">
                <h6 class="card-title">
                    <span (click)="markAsFavorite(movies.id, !favorite(movies.id))">
                       <span *ngIf="!favorite(movies.id)" title="Agregar a favoritos">
                        <i class="far fa-heart puntero"></i>
                       </span>
                    <span *ngIf="favorite(movies.id)" title="Quitar de favoritos">
                        <i  class="fas  fa-heart puntero text-danger"></i>
                       </span >
                       
                    </span> {{ movies.title }}
                </h6>
            </div>
        </div>
    </div>

</div>
<app-modal-movie-detail [movie]="movie" [favorite]="favorito" (ejecutar)="ngOnInit()"></app-modal-movie-detail>
<app-loading *ngIf="loading"></app-loading>