<div>
    <h3>
        Nosotros
    </h3>
    <p>La empresa Pelina Beer es una industria que se encarga de informar al usuario acerca de todas las películas que han salido en el cine. Para esto ellos utilizan medios de comunicación como anuncios, entre otras cosas. Resulta que estos gastos están
        siendo muy elevados y quieren que el usuario pueda acceder a esta información sin la necesidad de esperar ese boletín o anuncio. </p>
    <p>
        Las películas están contenidas en una cuadrícula donde cada una presenta su póster más relevante, así como también, el indicador que da a conocer si la misma pertenece a las favoritas del usuario (este indicador puede ser presionado para agregarla
        o removerla de dicha cuadrícula).
    </p>
</div>